@use '../globals/colors' as colors;

.index-layout {
    html {
        background-color: colors.$color-white;
    }
}

.dark-bg:before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    background: colors.$color-bg;
    transform: skew(0deg, 3deg);
    transform-origin:top;
    z-index: -1;

    // height:1180px;
    height: calc(1000px + 10vw);
    @media screen and (max-width: 685px) {
        // height:1000px;
        height: calc(570px + 50vw );
    }
}

.hero-section {
    margin-top: 80px;
    margin-bottom: 150px;
    margin-right: 0;
    margin-left: calc((100% - 1250px)/2);
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 1407px) {
        margin-left: 5%;
    }
    @media screen and (max-width: 1407px) {
        margin-left: 5%;
    }
    @media screen and (max-width: 685px) {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .left {
        display: flex;
        flex-direction: column;
        width: 625px;
        max-width: 90%;
        @media screen and (min-width: 750px) {
            min-width: 625px;
        }
    }
    .right {
        margin-left: 130px;
        min-width: 1000px;
        overflow: hidden;
        @media screen and (max-width: 750px) {
            display: none;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    h1, span {
        @media screen and (max-width: 750px) {
            font-size: 9.6vw;
        }
    }
    h3 {
        @media screen and (max-width: 685px) {
            font-size: 3.4vw;
        }
        @media screen and (max-width: 520px) {
            font-size: 18px;
        }
    }
    div {
        div {
            display: flex;
            flex-direction: row;
        }
    }
}

.bg-ellipse {
    position: absolute;
    right: 0;
    transform: translate(30%, -200px);
    background-color: colors.$color-blue2;
    border-radius: 50%;
    height: 400px;
    width: 80%;
    opacity: 60%;
    filter: blur(200px);
    @media screen and (max-width: 685px) {
        transform: translate(10%, -200px);
    }
}

.large-header {
    color: colors.$color-white;
    font-weight: 700;
    font-size: 4rem;
    line-height: 0.95em;
    margin-top: 0;
}

.medium-header {
    color: colors.$color-white;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 0.95em;
    margin-top: 0;
}

.subtitle {
    color: colors.$color-white;
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 15px;
    line-height: 1.5em;
}

.btn-fill {
    margin-top: 15px;
    border-radius: 10px;
    padding: 7px 26px 7px 26px; 
    display: flex;
    align-items: center;
    font-size: 0.9rem; 
    outline: none;
    cursor: pointer; 
    text-decoration: none; 
    transition: all 0.2s ease-in-out;
    background: colors.$color-red; 
    color: colors.$color-white; 
    box-shadow: none;
    border: none; 
    &:hover{
        transition: all 0.2s ease-in-out; 
        box-shadow: 0px 4px 17px -2px colors.$color-red;
    }
}

.red-text {
    color: colors.$color-red;
}

.chevron-link {
    padding-bottom: 0;
    padding-top: 0.2em;
    margin-left: 2px;
    height: 1.2em;
    width: 1.2em;
}

.events-section {
    margin-bottom: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .events {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (max-width: 768px) {
        .events {
            flex-direction: column;
        }
        .s-events {
            display: none;
        }
    }
    .medium-header {
        margin-bottom: 40px;
        @media screen and (max-width: 750px) {
            font-size: 5.4vw;
        }
        @media screen and (max-width: 685px) {
            margin-bottom: 0;
        }
        @media screen and (max-width: 445px) {
            font-size: 24px;
        }
    }
    .red-text {
        font-weight: 700;
        display: flex;
        text-decoration: none; 
        @media screen and (min-width: 769px) {
            display: none;
        }
    }
}

.l-event-container {
    width: 600px;
    height: 350px;
    border-radius: 50px;
    background-color: #ffffffda;
    border: 2px solid colors.$color-grey;
    backdrop-filter: blur(20px);
    margin: 0px 25px;
    @media screen and (max-width: 1407px) {
        width: 42.65vw;
        height: calc(165px + 13vw);
        margin: 0px 1.8vw;
    }
    @media screen and (max-width: 768px) {
        width: 72vw;
        height: calc(90px + 25vw);
        margin-top: 3vw;
    }
}

.s-event-container {
    width: 385px;
    height: 250px;
    border-radius: 40px;
    background-color: #ffffffda;
    border: 2px solid colors.$color-grey;
    backdrop-filter: blur(20px);
    margin: 20px;
    @media screen and (max-width: 1407px) {
        width: 27.6vw;
        height: calc(105px + 10vw);
        margin: 1.5vw;
    }
}

.bg-events:before {
    height: 650px;
}

.bg-events {
    .top-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 400px;
        margin-top: 125px;
    }
    .large-header {
        text-align: center;
    }
    h1 {
        margin-bottom: 70px;
    }
}

.filter-options {
    display: flex;
    justify-content: center;

    .games-content {
        width: 300px;
    }

    .slider-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3 {
        color: colors.$color-white;
        font-size: 1.3rem;
        text-align: center;
    }
    .prize-slider-container {
        height: 50px;
        width: 230px;
    }
}