@use '../globals/colors' as colors;

.index-layout {
    html {
        background-color: colors.$color-white;
    }
}

.dark-bg::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 200%;
    background: rgb(19,44,78);
    background: -moz-linear-gradient(194deg, rgba(19,44,78,1) 0%, rgba(11,16,23,1) 53%);
    background: -webkit-linear-gradient(194deg, rgba(19,44,78,1) 0%, rgba(11,16,23,1) 53%);
    background: linear-gradient(194deg, rgba(19,44,78,1) 0%, rgba(11,16,23,1) 53%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#132c4e",endColorstr="#0b1017",GradientType=1);
    transform: skew(0deg, 3deg);
    transform-origin:top;
    z-index: -1;

    height: calc(1000px + 10vw);
    @media screen and (max-width: 685px) {
        // height:1000px;
        height: calc(570px + 50vw );
    }
}

.hero-section {
    margin-top: 80px;
    margin-bottom: 150px;
    margin-right: 0;
    margin-left: calc((100% - 1250px)/2);
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 1407px) {
        margin-left: 5%;
    }
    @media screen and (max-width: 1407px) {
        margin-left: 5%;
    }
    @media screen and (max-width: 685px) {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .left {
        display: flex;
        flex-direction: column;
        width: 625px;
        max-width: 90%;
        @media screen and (min-width: 750px) {
            min-width: 625px;
        }
    }
    .right {
        margin-left: 130px;
        min-width: 1000px;
        overflow: hidden;
        @media screen and (max-width: 750px) {
            display: none;
        }

        img {
            user-select: none;
            display: block;
            width: 100%;
            height: auto;
        }
    }
    h1, span {
        @media screen and (max-width: 750px) {
            font-size: 7.65vw;
        }
    }
    h3 {
        @media screen and (max-width: 685px) {
            font-size: 2.6vw;
        }
        @media screen and (max-width: 520px) {
            font-size: 0.9rem;
        }
    }
    div {
        div {
            display: flex;
            flex-direction: row;
        }
    }
}

.large-header {
    color: colors.$color-white;
    font-family: 'UsualBold', sans-serif;
    font-size: 3.25rem;
    line-height: 1.05em;
    margin-top: 0;
}

.medium-header {
    color: colors.$color-white;
    font-family: 'UsualBold', sans-serif;
    font-size: 1.8rem;
    line-height: 0.95em;
    margin-top: 0;
    margin-bottom: 40px;
    @media screen and (max-width: 1000px) {
        margin-bottom: 10px;
    }
    @media screen and (max-width: 750px) {
        font-size: 5.4vw;
    }
    @media screen and (max-width: 685px) {
        margin-bottom: 0;
    }
    @media screen and (max-width: 445px) {
        font-size: 22px;
    }
}

.subtitle {
    color: colors.$color-white;
    font-family: 'UsualRegular', sans-serif;
    font-size: 1.1rem;
    margin-top: 15px;
    line-height: 1.5em;
}

.btn-fill {
    margin-top: 15px;
    border-radius: 10px;
    padding: 8px 22px 8px 22px; 
    display: flex;
    align-items: center;
    font-size: 0.9rem; 
    outline: none;
    cursor: pointer; 
    text-decoration: none; 
    transition: all 0.2s ease-in-out;
    background: colors.$color-red; 
    color: colors.$color-white; 
    box-shadow: none;
    border: none; 
    &:hover{
        transition: all 0.2s ease-in-out; 
        box-shadow: 0px 4px 17px -2px colors.$color-red;
    }
}

.red-text {
    color: colors.$color-red;
}

.chevron-link {
    margin-left: 2px;
    height: auto;
    width: 1.2em;
}

.events-section {
    margin-bottom: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .events {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (max-width: 1000px) {
        margin-bottom: 160px;
        .events {
            flex-direction: column;
        }
        .s-events {
            display: none;
        }
    }
    @media screen and (max-width: 750px) {
        margin-bottom: 120px;
    }
    @media screen and (max-width: 445px) {
        margin-bottom: 100px;
    }
    .red-text {
        font-family: 'UsualMedium', sans-serif;
        display: flex;
        text-decoration: none; 
        @media screen and (min-width: 1001px) {
            display: none;
        }
    }
}

.l-event-wrapper {
    position: relative;

    .game-img-wrapper {
        position: absolute;
        bottom: -6px;
        right: 25px;
        padding: 0;
        pointer-events: none;
        user-select: none;
        .game-img {
            height: 260px;
            width: auto;
            margin: 0;
            @media screen and (max-width: 1407px) {
                height: 19vw;
            }
            @media screen and (max-width: 1000px) {
                height: 28vw;
            }
            @media screen and (max-width: 800px) {
                height: 225px;
            }
            @media screen and (max-width: 720px) {
                height: 31vw;
            }
        }
        @media screen and (max-width: 1100px) {
            display: none;
        }
        @media screen and (max-width: 1000px) {
            display: block;
        }
        @media screen and (max-width: 500px) {
            display: none;
        }
    }
    .l-event-container {
        width: 600px;
        border-radius: 50px;
        background-color: #ffffffda;
        border: 2px solid colors.$color-grey;
        backdrop-filter: blur(15px);
        margin: 0px 25px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        @media screen and (max-width: 1407px) {
            width: 42.65vw;
            margin: 0px 1.8vw;
        }
        @media screen and (max-width: 1000px) {
            width: 72vw;
            margin-top: 3vw;
        }
        @media screen and (max-width: 640px) {
            border-radius: 40px;
            padding: 30px;
        }
        .event-name-container {
            display: flex;
            align-items: center;
            margin-bottom: 1.5em;
            @media screen and (max-width: 640px) {
                margin-bottom: 1.2em;
            }
            @media screen and (max-width: 445px) {
                margin-bottom: 0.9em;
            }
        }
        .game-logo {
            width: 32px;
            height: 32px;
            margin-top: 0;
            margin-right: 0.9em;
            @media screen and (max-width: 640px) {
                display: none;
            }
        }
        .event-header {
            color: colors.$color-bg;
            font-family: 'UsualBold', sans-serif;
            font-size: 1.85rem;
            line-height: 1em;
            @media screen and (max-width: 1200px) and (min-width: 1001px) {
                font-size: 1.7rem;
            }
            @media screen and (max-width: 640px) {
                font-size: 1.6rem;
            }
            @media screen and (max-width: 445px) {
                font-size: 1.4rem;
            }
        }
        .event-prize {
            font-family: 'UsualMedium', sans-serif;
            color: colors.$color-red;
            font-size: 1.25rem;
            margin-bottom: 0.9em;
            @media screen and (max-width: 1200px) and (min-width: 1001px) {
                font-size: 1.1rem;
            }
            @media screen and (max-width: 640px) {
                font-size: 1.1rem;
            }
            @media screen and (max-width: 445px) {
                font-size: 1rem;
                margin-bottom: 0.6em;
            }
        }
        .event-details {
            font-weight: 400;
            color: colors.$color-bg;
            font-size: 0.9rem;
            margin-bottom: 0.3em;
            @media screen and (max-width: 640px) {
                font-size: 0.8rem;
            }
            @media screen and (max-width: 445px) {
                font-size: 0.75rem;
                margin-bottom: 0.1em;
            }
        }
    
        .btn-fill {
            // margin-top: 15px;
            // border-radius: 10px;
            // padding: 8px 22px 8px 22px; 
            // display: flex;
            // align-items: center;
            // font-size: 0.9rem; 

            display: inline-block;
            @media screen and (max-width: 640px) {
                font-size: 0.8rem;
                padding: 6px 18px 6px 18px;
                font-size: 0.8rem;
            }
            &:hover{
                box-shadow: 0px 4px 12px -2px colors.$color-red;
            }
        }
    }
}


.s-event-container {
    width: 385px;
    height: 250px;
    border-radius: 40px;
    background-color: #ffffffda;
    border: 2px solid colors.$color-grey;
    backdrop-filter: blur(15px);
    margin: 20px;
    @media screen and (max-width: 1407px) {
        width: 27.6vw;
        height: calc(105px + 10vw);
        margin: 1.5vw;
    }
    @media screen and (max-width: 1250px) {
        width: 42.5vw;
        height: 210px;
        margin: 1.5vw;
    }
    @media screen and (max-width: 1000px) {
        width: 35vw;
        height: 230px;
        margin: 1.5vw;
    }
}

@media screen and (max-width: 1250px) {
    .last-s-event {
        display: none;
    }
}

.text-section {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    width: 1250px;
    margin: 0px auto 290px auto;

    @media screen and (max-width: 770px) {
        flex-direction: column;
        align-items: center;
        .top-sect {
            margin-bottom: 80px;
        }
    }

    .section {
        width: 47%;
        padding-right: 20px;
        @media screen and (max-width: 770px) {
            width: 100%;
            padding-right: 0px;
        }
    }
    .medium-header {
        color: colors.$color-bg;
        line-height: 1.3em;
        @media screen and (max-width: 770px) {
            font-size: 4vw;
            margin-bottom: 1em;
        }
        @media screen and (max-width: 550px) {
            font-size: 22px;
        }
    }
    .text {
        font-size: 1.05rem;
        line-height: 1.6em;
        color: colors.$color-bg;
        margin-bottom: 1.5em;
    }
    .link-container {
        display: inline-block;
    }
    .red-text {
        font-size: 1.05rem;
        text-decoration: none;
        font-family: 'UsualMedium', sans-serif;
        display: flex;
        align-items: center;
        &:hover{
            transition: all 0.1s ease-in-out; 
            .chevron-link {
                margin-left: 9px;
            }
        }
    }
    .chevron-link {
        transition: all 0.1s ease-in-out; 
        margin-left: 5px;
    }
}

.dark-bg-container-2 {
    position: relative;
    display: flex;
    justify-content: center;

    .dark-bg::before {
        height: 850px;
    }
}

.about-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 800px;
}

.about-container {
    width: 1250px;
    max-width: 90%;
    display: flex;
    flex-direction: column;

    .medium-header {
        margin-bottom: 2em;
        align-self: center;
    }
    .subtitle {
        font-family: 'UsualMedium', sans-serif;
        font-size: 1.15rem;
        line-height: 1.6em;
        color: colors.$color-white;
        margin-bottom: 0.9em;
    }
    .text-wrapper {
        width: 47%;
        align-self: flex-start;
        margin-right: 6%;
    }
    .text {
        font-family: 'UsualLight', sans-serif;
        font-size: 0.95rem;
        line-height: 1.6em;
        color: colors.$color-white;
        margin-bottom: 2.5em;
    }
    .link-container {
        display: inline-block;
        .red-text {
            font-size: 1.05rem;
            text-decoration: none;
            font-family: 'UsualMedium', sans-serif;
            display: flex;
            align-items: center;
            &:hover{
                transition: all 0.1s ease-in-out; 
                .chevron-link {
                    margin-left: 9px;
                }
            }
        }
        .chevron-link {
            transition: all 0.1s ease-in-out; 
            margin-left: 5px;
        }
    }
}