@font-face {
    font-family: "UsualLight";
    src: url("../../fonts/Light.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UsualLightItalic";
    src: url("../../fonts/Light Italic.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UsualRegular";
    src: url("../../fonts/Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UsualItalic";
    src: url("../../fonts/Italic.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UsualMedium";
    src: url("../../fonts/Medium.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UsualMediumItalic";
    src: url("../../fonts/Medium Italic.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UsualBold";
    src: url("../../fonts/Bold.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UsualBoldItalic";
    src: url("../../fonts/Bold Italic.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UsualExtraBold";
    src: url("../../fonts/ExtraBold.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UsualExtraBoldItalic";
    src: url("../../fonts/ExtraBold Italic.woff");
    font-weight: normal;
    font-style: normal;
}